.container-luke{
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

body{
    background-image: url(bg.png);
}

#name{
    color: yellow;
}
#gender{
    color: yellow;
}
#eyes{
    color: yellow;
}

.luke-img{
    width: 34%;
    height: 50%;
}